node_modules/
dist/
build/

.gitignore
.prettierrc
.vite.config.ts
eslintrc.config.js
package.json
package-lock.json
tsconfig.json
tsconfig.app.json
vite.config.ts
postcss.config.js
tsconfig.node.json

README.md