@font-face {
  font-family: "exo2";
  src: url("./exo2/static/Exo2-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "exo2";
  src: url("./exo2/static/Exo2-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "exo2";
  src: url("./exo2/static/Exo2-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "exo2";
  src: url("./exo2/static/Exo2-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "exo2";
  src: url("./exo2/static/Exo2-Bold.ttf");
  font-weight: 700;
}
