@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./reset.scss");
@import url("../public/font/font.scss");

#root {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  body {
    @apply text-base font-PixelSans font-normal bg-body  text-white m-0 min-h-screen !important;
  }

  input {
    @apply text-base font-PixelSans !important;
  }
}

@layer components {
  .container {
    @apply w-3/4 mx-auto;
  }
  .card {
    @apply bg-card p-5 rounded-md;
  }
}

@layer utilities {
  .error {
    @apply text-error;
  }
}
