@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./reset.scss');
@import url('../public/font/font.scss');

#root {
	height: 100%;
}

body {
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
}

@layer base {
	body {
		@apply text-xl font-exo2 font-normal bg-body  text-white m-0 min-h-screen !important;
	}

	input,
	label {
		@apply font-exo2 !important;
	}

	button {
		@apply text-base font-exo2 !important;
	}
}

@layer components {
	.container {
		@apply w-3/4 mx-auto;
	}

	.card {
		@apply bg-card p-5 rounded-md;
	}
}

@layer utilities {
	.error {
		@apply text-error;
	}

	.menu {
		@apply flex items-center w-full gap-1 p-1 rounded-md cursor-pointer transition-colors duration-300 ease-in-out;
	}

	.menu:hover {
		@apply bg-menu;
	}

	.switch {
		@apply bg-menu !important;
	}

	.switch:hover {
		@apply bg-opacity-30 !important;
	}

	.input-number .ant-input-number-handler-wrap {
		@apply hidden !important;
	}
}
