@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./reset.scss');
@import url('../public/font/font.scss');

#root {
	height: 100%;
}

body {
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
}

@layer base {
	body {
		@apply text-xl font-exo2 font-normal bg-body  text-white m-0 min-h-screen !important;
	}

	input,
	label {
		@apply font-exo2 !important;
	}

	button {
		@apply text-base font-exo2 !important;
	}
}

@layer components {
	.container {
		@apply w-4/5 mx-auto;
	}

	.card {
		@apply bg-card p-5 rounded-md;
	}

	.menu {
		@apply flex items-center w-full gap-1 p-1 rounded-md cursor-pointer anim;
	}

	.menu:hover {
		@apply bg-menu;
	}
}

@layer utilities {
	.error {
		@apply text-error;
	}

	.switch {
		@apply bg-menu !important;
	}

	.switch:hover {
		@apply bg-opacity-30 !important;
	}

	.input-number .ant-input-number-handler-wrap {
		@apply hidden !important;
	}

	.ant-statistic-title {
		@apply text-xl font-exo2 text-white !important;
	}

	.full-skeleton {
		@apply absolute top-0 left-0 h-full w-full z-10 !important;
	}

	.anim {
		@apply transition-colors duration-300 ease-in-out;
	}

	.category {
		@apply relative bg-menu px-2.5 rounded-md cursor-pointer transition-all duration-200 ease-out;
	}

	.delete-text {
		@apply absolute opacity-0 left-[50%] translate-x-[-50%] transition-all duration-200 ease-out;
	}

	.category:hover {
		.category-text {
			@apply opacity-0;
		}

		.delete-text {
			@apply opacity-100;
		}

		@apply bg-black opacity-80;
	}
}
